.DS_Store
node_modules
# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
coverage/
cache/
.cache/
.nyc*
*.log
*.debug